.light-square {
    background-color: #D7B89E; /* Light brown/tan */
}

.dark-square {
    background-color: #8E6E44; /* Darker brown */
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}

.stats-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between items */
    align-items: center; /* Align items vertically if needed */
    gap: 20px; /* Optional spacing between items */
}

.stat{
    font-family: 'Lato', sans-serif; /* Use Lato font */
    font-size: 1.4em; /* Adjust font size */
    font-weight: 100; /* Lighter weight */
}

.bold {
    font-weight: 700; /* Bold text */
}