.light-square {
    background-color: #D7B89E; /* Light brown/tan */
}

.dark-square {
    background-color: #8E6E44; /* Darker brown */
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}