@page "/chess"
@using Frontend.Controller
@inject GameManager GameManager

<h3>Chess Puzzle</h3>
<p>Turn: @GameManager.CurrentTurn</p>

<Chessboard/>

@code {

    protected override void OnInitialized()
    {
        // Initialize the GameManager with the default board setup
        GameManager = new GameManager();
    }

}